



.logo img {
	/* Style for "logo" */
	width: 313px;
	height: 35px;
}

body {
	width: 1904px;
}


header {
	/* Style for "Заливка цв" */
	width: 1904px;
	height: 945px;
	background-color: #c6c7cb;
	background-image: url(../img/iPhone-Xs-Max.png);
	background-repeat: no-repeat;
	background-position: right;
}


.step {
	/* Style for "Прямоуголь" */
	width: 1904px;
	height: 540px;
	background-color: #fafafa;
}